{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>Login</h1>
		<form method="POST">{% csrf_token %}

			{{ form.as_p}}
	<!-- 
		  <div class="mb-3">
		    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
		  </div>
		  <div class="mb-3">
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		 -->
	

 

		<input  class='btn btn-outline-primary'  type="submit" value="Login">
		</form>
{% endblock content%}