{% extends 'base.html' %}

  {% load crispy_forms_tags %}
{% block content %}
	<h1> Registration</h1>
		<form method="POST">{% csrf_token %}	
		<form>
  <div class="mb-3">
    <input type="text" class="form-control"  aria-describedby="emailHelp", placeholder="First name">
</div>
    <div class="mb-3">
    <input type="text" class="form-control"  aria-describedby="emailHelp", placeholder="Last name">
	</div>
    <div class="mb-3">
    <input type="number" class="form-control" aria-describedby="emailHelp", placeholder="Age">
	</div>
    <div class="mb-3">
    <input type="email" class="form-control" aria-describedby="emailHelp", placeholder="Email address">
	</div>
    <div class="mb-3">
    <input type="text" class="form-control" aria-describedby="emailHelp", placeholder="Address">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
			<input class='btn btn-outline-success' type="submit" value="Singup">
		</form>
{% endblock content %}