{% extends 'base.html' %}

{% block content %}
    <h1>Join Today</h1>
    <br>

 <form method="POST" action="">
        {% csrf_token %}

        
        <div class="mb-3">
            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="First name"  
            name="fname" value="{{ fname }}">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control"aria-describedby="emailHelp" placeholder="Last name" 
            name="lname" value="{{ lname }}">
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Age" 
            name="age"  value="{{ age }}">
          </div>
        <div class="mb-3">
          <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email Address" 
          name="email" value="{{ email }}">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control"  placeholder="Password" 
          name="passwd" value="{{ passwd}}">
        </div>

         <div class="mb-3">
            <input type="number" class="form-control"aria-describedby="emailHelp" placeholder="Phone Number(optional)" name='phone_num' value="{{ pohne.num }}" 
            >
          </div>

        <div class="mb-3">
            <input type="text" class="form-control"aria-describedby="emailHelp" placeholder="Address(optional)" name='address' value="{{ address }}" 
            >
          </div>

          
  
        <button type="submit" class="btn btn-primary">SingUp</button>
      </form>






      <a href="{% url 'home' %}">Back</a>


{% endblock content %}